<ion-header-bar align-title="center" class="bar-light">
    <button class="button button-icon icon ion-ios-arrow-thin-left" ng-click="back()"></button>
    <div class="title">切换货币</div>
    <button class="button button-icon icon ion-ios-search" ng-click="search()"></button>
</ion-header-bar>
<ion-view>
    <ion-content on-swipe-right="onSwipeRight()">
        <ion-list>
            <ion-item class="currency-item" id="itemHot">
                <div class="currency-index-bar">热门</div>
                <ion-list class="ec-list">
                    <ion-item class="ec-item" ng-repeat="item in hotCurrencyList | orderBy: 'currency_name_Pinyin'" ng-click="itemClick(item)">
                        <div class="currency-pic">
                            <img ng-src="img/currency/{{item.symbol}}.png">
                        </div>
                        <h2 ng-bind="item['currency_name_zh-Hans'] + ' ' + item.symbol"></h2>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item class="currency-item" ng-repeat="(key,value) in currencyList" id="item{{key | uppercase}}">
                <div class="currency-index-bar" ng-bind="key | uppercase"></div>
                <ion-list class="ec-list">
                    <ion-item class="ec-item" ng-repeat="item in value" ng-click="itemClick(item)">
                        <div class="currency-pic">
                            <img ng-src="img/currency/{{item.symbol}}.png">
                        </div>
                        <h2 ng-bind="item['currency_name_zh-Hans'] + ' ' + item.symbol"></h2>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="currency-right-bar" ec-position-middle on-touch="right_bar_touch($event)">
        <div>☆</div>
        <div ng-repeat="(key,value) in currencyList" ng-bind="key | uppercase"></div>
        <div>#</div>
    </div>
    <div class="currency-middle-bar" ng-if="!!targetText" ng-bind="targetText">
    </div>
</ion-view>
